name: Auto Merge Dependency Updates

on:
  - pull_request_target
  - pull_request_review

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: tjenkinson/gh-action-auto-merge-dependency-updates@v1
        with:
          use-auto-merge: true
          allowed-actors: dependabot[bot], tjenkinson
          package-block-list: 'longest-common-substring'
